# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.vscode
pkg
env.bat
bin
*.log
src/ngengine/apps/test/debug
Testbin
debug
# 数据自动生成需要的
src/ngengine/module/db/dbtable
!xorm_tool.exe
!reverse_single_file.bat
!reverse_multifile_file.bat
!dbmodelManager.go
!src/ngengine/module/db/dbtable/templates