<!doctype html>
<html>

<head>
    <title>NgEngine Background Management System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="Cache-Control" content="no-cache">        <!-- 无缓存访问 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>     <!-- 不需转码 -->
    <meta name="description" content="Next Gen Engine">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />   <!-- iOS可以通过meta标签来给主屏webapp指定标题 -->
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">  <!-- iOS添加该属性，在iPhone,iPad,iTouch的safari浏览器上可以使用添加到主屏按钮将网站添加到主屏幕上，方便用户以后访问 -->
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />   <!-- 表格样式 -->
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo"> <!-- javascript:是表示在触发<a>默认动作时，执行一段JavaScript代码，而 javascript:; 表示什么都不执行，这样点击<a>时就没有任何反应 -->
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span></span>
                    </a>
                    <ul class="am-dropdown-content tpl-dropdown-content">
                        <li class="tpl-dropdown-content-external">
                            <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="###">全部</a></li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span> 【预览模块】移动端 查看时 手机、电脑框隐藏。</a>
                            <span class="tpl-dropdown-list-fr">3小时前</span>
                        </li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span> 移动端，导航条下边距处理</a>
                            <span class="tpl-dropdown-list-fr">15分钟前</span>
                        </li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span> 追加统计代码</a>
                            <span class="tpl-dropdown-list-fr">2天前</span>
                        </li>
                    </ul>
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span></span>
                    </a>
                    <ul class="am-dropdown-content tpl-dropdown-content">
                        <li class="tpl-dropdown-content-external">
                            <h3>你有 <span class="tpl-color-danger">9</span> 条新消息</h3><a href="###">全部</a></li>
                        <li>
                            <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="assets/img/user02.png" alt=""> </span>
                                <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> 李深(单身) </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                                </span>
                                <span class="tpl-dropdown-content-font"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </span>
                            </a>
                            <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="assets/img/user03.png" alt=""> </span>
                                <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> 喜欢李深 </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                                </span>
                                <span class="tpl-dropdown-content-font"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-calendar"></span> 进度 <span class="am-badge tpl-badge-primary am-round">4</span></span>
                    </a>
                    <ul class="am-dropdown-content tpl-dropdown-content">
                        <li class="tpl-dropdown-content-external">
                            <h3>你有 <span class="tpl-color-primary">4</span> 个任务进度</h3><a href="###">全部</a></li>
                        <li>
                            <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">Amaze UI 用户中心 v1.2 </span>
                                <span class="percent">45%</span>
                                </span>
                                <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div class="am-progress-bar am-progress-bar-success" style="width:45%"></div></div>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">新闻内容页 </span>
                                <span class="percent">30%</span>
                                </span>
                                <span class="progress">
                       <div class="am-progress tpl-progress am-progress-striped"><div class="am-progress-bar am-progress-bar-secondary" style="width:30%"></div></div>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">管理中心 </span>
                                <span class="percent">60%</span>
                                </span>
                                <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div class="am-progress-bar am-progress-bar-warning" style="width:60%"></div></div>
                    </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">禁欲李深</span><span class="tpl-header-list-user-ico"> <img src="assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>







    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                Amaze UI 列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="index.html" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="chart.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>数据表</span>
                            <i class="tpl-left-nav-content tpl-badge-danger">
               12
             </i>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>表格</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="table-font-list.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文字表格</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="table-images-list.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>图片表格</span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
               18
             </i>

                                    <a href="form-news.html">
                                        <i class="am-icon-angle-right"></i>
                                        <span>消息列表</span>
                                        <i class="tpl-left-nav-content tpl-badge-primary">
               5
             </i>


                                        <a href="form-news-list.html">
                                            <i class="am-icon-angle-right"></i>
                                            <span>文字列表</span>

                                        </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>表单</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="form-amazeui.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>Amaze UI 表单</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="form-line.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>线条表单</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="login.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>登录</span>

                        </a>
                    </li>
                </ul>
            </div>
        </div>







        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                控制首页
            </div>
            <!--<ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">分类</a></li>
                <li class="am-active">内容</li>
            </ol> -->

            <div class="tpl-content-scope">
                <div class="note note-info">
                    <p> 
                        当前服务器列表如下：
                    </p>
                </div>
            </div>
            
            <hr data-am-widget="divider" class="am-divider-default" />

            <div class="am-u-sm-16 am-u-md-16 am-u-lg-16 widget-margin-bottom-sm">
                <div class="widget am-cf widget-body-lg"></div>
                    <div class="widget-body  am-fl">
                        <div class="am-scrollable-horizontal ">
                            <div id="server_table_wrapper" class="dataTables_wrapper am-datatable am-form-inline dt-amazeui no-footer">
                                <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black  dataTable no-footer" id="server_table" role="grid" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="server_table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="服务器: 以降序排列此列" style="width: 300px;">服务器</th>
                                            <th class="sorting" tabindex="0" aria-controls="server_table" rowspan="1" colspan="1" aria-label="地址: 以升序排列此列" style="width: 200px;">地址</th>
                                            <th class="sorting" tabindex="0" aria-controls="server_table" rowspan="1" colspan="1" aria-label="时间: 以升序排列此列" style="width: 200px;">时间</th>
                                            <th class="sorting" tabindex="0" aria-controls="server_table" rowspan="1" colspan="1" aria-label="状态: 以升序排列此列" style="width: 200px;">状态</th>
                                            <th class="sorting" tabindex="0" aria-controls="server_table" rowspan="1" colspan="1" aria-label="操作: 以升序排列此列" style="width: 300px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- more data -->
                                        <tr class="server_data_1" role="row">
                                            <td class="sorting_1">admin_server1</td>
                                            <td>192.168.1.1</td>
                                            <td>2016-09-26</td>
                                            <td>关闭</td>
                                            <td>
                                                <div class="am-btn-group">
                                                    <button type="button" class="am-btn am-btn-primary am-round am-btn-xs">开启</button>
                                                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs">关闭</button>
                                                    <button type="button" class="am-btn am-btn-secondary am-round am-btn-xs">重启</button>
                                                    <button type="button" class="am-btn am-btn-warning am-round am-btn-xs">配置</button>
                                                </div>
                                            </td>
                                        </tr><tr class="server_data_2" role="row">
                                            <td class="sorting_1">admin_server2</td>
                                            <td>192.168.1.1</td>
                                            <td>2016-09-26</td>
                                            <td>关闭</td>
                                            <td>
                                                <div class="am-btn-group">
                                                    <button type="button" class="am-btn am-btn-primary am-round am-btn-xs">开启</button>
                                                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs">关闭</button>
                                                    <button type="button" class="am-btn am-btn-secondary am-round am-btn-xs">重启</button>
                                                    <button type="button" class="am-btn am-btn-warning am-round am-btn-xs">配置</button>
                                                </div>
                                            </td>
                                        </tr><tr class="server_data_3" role="row">
                                            <td class="sorting_1">admin_server3</td>
                                            <td>192.168.1.1</td>
                                            <td>2016-09-26</td>
                                            <td>关闭</td>
                                            <td>
                                                <div class="am-btn-group">
                                                    <button type="button" class="am-btn am-btn-primary am-round am-btn-xs">开启</button>
                                                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs">关闭</button>
                                                    <button type="button" class="am-btn am-btn-secondary am-round am-btn-xs">重启</button>
                                                    <button type="button" class="am-btn am-btn-warning am-round am-btn-xs">配置</button>
                                                </div>
                                            </td>
                                        </tr><tr class="server_data_4" role="row">
                                            <td class="sorting_1">admin_server4</td>
                                            <td>192.168.1.1</td>
                                            <td>2016-09-26</td>
                                            <td>关闭</td>
                                            <td>
                                                <div class="am-btn-group">
                                                    <button type="button" class="am-btn am-btn-primary am-round am-btn-xs">开启</button>
                                                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs">关闭</button>
                                                    <button type="button" class="am-btn am-btn-secondary am-round am-btn-xs">重启</button>
                                                    <button type="button" class="am-btn am-btn-warning am-round am-btn-xs">配置</button>
                                                </div>
                                            </td>
                                        </tr><tr class="server_data_5" role="row">
                                            <td class="sorting_1">admin_server5</td>
                                            <td>192.168.1.1</td>
                                            <td>2016-09-26</td>
                                            <td>关闭</td>
                                            <td>
                                                <div class="am-btn-group">
                                                    <button type="button" class="am-btn am-btn-primary am-round am-btn-xs">开启</button>
                                                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs">关闭</button>
                                                    <button type="button" class="am-btn am-btn-secondary am-round am-btn-xs">重启</button>
                                                    <button type="button" class="am-btn am-btn-warning am-round am-btn-xs">配置</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/iscroll.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>